# CASE STUDY - CUSTOMER EXPERIENCE

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
%pwd

'C:\\Users\\riasa'

In [4]:
%cd "D:\Ria\Python\analytixlab\8. Basic Stats - Case Study-2\8. Basic Stats - Case Study-2"
sam_app=pd.read_csv('Testing_Of_Hypothesis.csv')

D:\Ria\Python\analytixlab\8. Basic Stats - Case Study-2\8. Basic Stats - Case Study-2

In [5]:
sam_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
Sr No            100 non-null int64
S_Cust_id        100 non-null object
Samsung Score    100 non-null int64
Apple_Cust_id    100 non-null object
Apple_Score      100 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.0+ KB

In [6]:
sam_app.isnull().sum()

Sr No            0
S_Cust_id        0
Samsung Score    0
Apple_Cust_id    0
Apple_Score      0
dtype: int64

In [7]:
sam_app.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

### 1. The Samsung Average customer satisfaction score is minimum 75%.

#### Null Hypothesis : Samsung Average customer satisfaction score is minimum 75%
#### Alternate Hypothesis : Samsung Average customer satisfaction score is below 75%

In [8]:
sam_app['Samsung Score'].mean()

84.9

In [9]:
stats.ttest_1samp(sam_app['Samsung Score'], .75)

Ttest_1sampResult(statistic=71.04544333284052, pvalue=9.363678705227256e-87)

#### The above p-value is less than 0.05, therefore we reject the Null hypothesis. and the conclusion is Samsung Average customer satisfaction score is below 75%,100% Confidence against Ho

### 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

#### Null Hypothesis : There is no significant difference in the satisfaction scores
#### Alternate Hypothesis : There is significant difference in the satisfaction scores

In [21]:
sam_app['Samsung Score'].mean()

84.9

In [22]:
sam_app['Apple_Score'].mean()

87.81

In [24]:
stats.ttest_rel(sam_app['Samsung Score'],sam_app.Apple_Score)

Ttest_relResult(statistic=-1.9015800946572132, pvalue=0.06013359092250471)

#### The above p-value is greater than 0.05, therefore we accept the Null hypothesis. and the conclusion is There is no significant difference in the satisfaction scores of Samsung and Apple.