In [1]:
cd "D:\\Ria\\Python\\analytixlab\\7. Basic Stats - Case Study-1\\7. Basic Stats - Case Study-1"

D:\Ria\Python\analytixlab\7. Basic Stats - Case Study-1\7. Basic Stats - Case Study-1

In [2]:
import pandas as pd

In [3]:
# Import datasets
dietstudy=pd.read_csv("dietstudy.csv")
creditpromo=pd.read_csv("creditpromo.csv")
pollination=pd.read_csv("pollination.csv")
dvdplayer=pd.read_csv("dvdplayer.csv")
sample_survey=pd.read_csv("sample_survey.csv")

In [7]:
creditpromo['insert'].value_counts()

New Promotion    250
Standard         250
Name: insert, dtype: int64

## Before and after study of diet on weights and triglyceride levels of 16 patients

## Paired t test

###### null hypothesis 1: The new diet has no impact on triglyceride or the mean of the difference of triglyceride of patients equals zero
###### null hypothesis 2: The new diet has no impact on weights or the mean of the difference of weights of patients equals zero

In [5]:
from scipy import stats

In [78]:
# Null hypothesis the new diet has not impacted the leveL of triglyceride
# conclusion : There is no sample  evidence to conclude that new diet has decreased levels of triglyceride.We believe that the new diet has not imapcted on triglyceride levels. 
stats.ttest_rel(dietstudy['tg0'],dietstudy['tg4'],nan_policy='propagate')

Ttest_relResult(statistic=1.2043089238053295, pvalue=0.2471298502503435)

In [79]:
# Null hypothesis the new diet has not impacted the leveL of triglyceride
# conclusion : The new diet has decreased the weights of the patients
stats.ttest_rel(dietstudy['wgt0'],dietstudy['wgt4'],nan_policy='propagate')

Ttest_relResult(statistic=11.12229825099219, pvalue=1.2118378978233194e-08)

## New promotion increased the Sales

In [21]:
creditpromo.columns

Index(['id', 'insert', 'dollars'], dtype='object')

In [28]:
# Null hypothesis : Mean sales using standard promotion is greater than or equal to Mean sales using new promotion
# Alternate hypothesis : Mean sales using standard promotion is less than  Mean sales using new promotion
stats.ttest_ind(creditpromo[creditpromo['insert']=='Standard']['dollars'],creditpromo[creditpromo['insert']=='New Promotion']['dollars'])
# take level of significance 0.05
#conclusion : since pvalue < 0.05 we will reject null hypothesis and state that new promotion has increased Sales

Ttest_indResult(statistic=-2.2604227264649963, pvalue=0.024225996894147814)

# 3 a)Is the overall population of Seed yield/plant (g) equals to 200
#   b)Test whether the natural pollination and hand pollination under open field conditions are equally effective or are significantly different.

In [33]:
# Null hypothesis is overall population of Seed yield/plant (g) equals to 200
stats.ttest_1samp(pollination['Seed_Yield_Plant'],200)
#conclusion : Since pvalue<l.o.s=0.05,we reject null hypothesis and conclude that we have statistical evidence that overall population of Seed yield/plant (g) doesnot equals to 200

Ttest_1sampResult(statistic=-2.3009121248548645, pvalue=0.032891040921283025)

In [37]:
#b) Null hypothesis 1:  The type of pollination doesnot impact Fruit_Wt
#Null hypothesis 2:  The type of pollination doesnot impact Seed_Yield_Plant
#Null hypothesis 3:  The type of pollination doesnot impact Seedling_length

stats.ttest_ind(pollination[pollination['Group']=='Natural']['Fruit_Wt'],pollination[pollination['Group']=='Hand']['Fruit_Wt'])
stats.ttest_ind(pollination[pollination['Group']=='Natural']['Seed_Yield_Plant'],pollination[pollination['Group']=='Hand']['Seed_Yield_Plant'])
stats.ttest_ind(pollination[pollination['Group']=='Natural']['Seedling_length'],pollination[pollination['Group']=='Hand']['Seedling_length'])

# Conclusion :natural pollination and hand pollination under open field conditions are significantly different

Ttest_indResult(statistic=-2.542229999657055, pvalue=0.020428817064110226)

In [38]:
# Sample means of Fruit Weight of 2 types of Pollination 
pollination.groupby('Group')['Fruit_Wt'].mean()

Group
Hand       2.566
Natural    1.848
Name: Fruit_Wt, dtype: float64

In [39]:
# Sample means of Seed_Yield_Plant  of 2 types of Pollination 
pollination.groupby('Group')['Seed_Yield_Plant'].mean()

Group
Hand       215.598
Natural    146.009
Name: Seed_Yield_Plant, dtype: float64

In [40]:
# Sample means of Seedling_length of 2 types of Pollination 
pollination.groupby('Group')['Seedling_length'].mean()

Group
Hand       18.590
Natural    17.707
Name: Seedling_length, dtype: float64

In [41]:
# We conclude based on sample results : Hand Pollination is better than natural pollination

# 4 : Age groups have a impact on Dvd Score

In [47]:
# null hypothesis: Age groups have no impact on the Dvd score
agegroups=dvdplayer['agegroup'].unique()
stats.f_oneway(dvdplayer[dvdplayer['agegroup'] == agegroups[0]]['dvdscore'],
               dvdplayer[dvdplayer['agegroup']  == agegroups[1]]['dvdscore'],
               dvdplayer[dvdplayer['agegroup']  == agegroups[2]]['dvdscore'],
               dvdplayer[dvdplayer['agegroup']  == agegroups[3]]['dvdscore'],
               dvdplayer[dvdplayer['agegroup']  == agegroups[4]]['dvdscore'],
              dvdplayer[dvdplayer['agegroup']  == agegroups[5]]['dvdscore'])
# conclusion : Atleast one of the pop means of dvdscore of one age group is significantly different from other age group

F_onewayResult(statistic=6.992526962676517, pvalue=3.087324905679639e-05)

# labour status independent of marital status

In [54]:
stats.chi2_contingency(pd.crosstab(index=sample_survey.wrkstat,columns=sample_survey.marital).values)
#conclusion:Labour status is dependent on marital status

(729.2421426572284,
 1.4875268409067568e-135,
 28,
 array([[ 51.69187279, 155.8869258 ,  76.84240283,  10.77879859,
          32.8       ],
        [  8.51024735,  25.66431095,  12.65088339,   1.7745583 ,
           5.4       ],
        [ 62.09328622, 187.25441696,  92.30459364,  12.94770318,
          39.4       ],
        [ 12.45017668,  37.5459364 ,  18.50777385,   2.59611307,
           7.9       ],
        [  7.24946996,  21.86219081,  10.77667845,   1.51166078,
           4.6       ],
        [  9.14063604,  27.56537102,  13.58798587,   1.90600707,
           5.8       ],
        [246.95477032, 744.74028269, 367.10989399,  51.495053  ,
         156.7       ],
        [ 47.90954064, 144.48056537,  71.21978799,   9.99010601,
          30.4       ]]))

In [56]:
# educational degree is independent of marital status or not?

In [58]:
stats.chi2_contingency(pd.crosstab(index=sample_survey.degree,columns=sample_survey.marital).values)
#conclusion:educational degree is dependent on marital status

(122.68449020508541,
 1.6707923432360119e-18,
 16,
 array([[ 75.06345268, 227.39312301, 111.83268345,  15.75824176,
          47.95249911],
        [ 32.19248493,  97.52215526,  47.9617157 ,   6.75824176,
          20.56540234],
        [235.55476781, 713.57674583, 350.9393832 ,  49.45054945,
         150.4785537 ],
        [ 32.66359447,  98.94930876,  48.66359447,   6.85714286,
          20.86635945],
        [ 67.52570011, 204.55866714, 100.60262318,  14.17582418,
          43.1371854 ]]))

In [6]:
# happy status or income group is independent of maritus status 
stats.chi2_contingency(pd.crosstab(index=sample_survey.happy,columns=sample_survey.marital).values)
#conclusion:happy status is dependent on marital status

(260.6894389418282,
 9.3147261197964e-52,
 8,
 array([[ 53.6969697 , 162.06060606,  79.27272727,  11.15151515,
          33.81818182],
        [248.58538324, 750.24527629, 366.98609626,  51.62495544,
         156.55828877],
        [140.71764706, 424.69411765, 207.74117647,  29.22352941,
          88.62352941]]))

In [60]:
stats.chi2_contingency(pd.crosstab(index=sample_survey.income,columns=sample_survey.marital).values)
#conclusion:income group is dependent on marital status

(521.3728471696255,
 7.108618170303209e-83,
 44,
 array([[  5.17985612,  15.34772182,   7.66107114,   1.0871303 ,
           2.72422062],
        [ 30.91726619,  91.60671463,  45.72701839,   6.48880895,
          16.26019185],
        [ 28.97482014,  85.85131894,  42.85411671,   6.08113509,
          15.23860911],
        [ 39.98201439, 118.46522782,  59.13389289,   8.39128697,
          21.02757794],
        [256.88848921, 761.15107914, 379.941247  ,  53.91486811,
         135.10431655],
        [  3.88489209,  11.51079137,   5.74580336,   0.81534772,
           2.04316547],
        [  5.17985612,  15.34772182,   7.66107114,   1.0871303 ,
           2.72422062],
        [  5.66546763,  16.78657074,   8.37929656,   1.18904876,
           2.97961631],
        [  5.34172662,  15.82733813,   7.90047962,   1.12110312,
           2.80935252],
        [  7.60791367,  22.54196643,  11.25219824,   1.59672262,
           4.00119904],
        [  9.55035971,  28.29736211,  14.12509992,   2.00439648,
           5.02278177],
        [  5.82733813,  17.26618705,   8.61870504,   1.22302158,
           3.0647482 ]]))

marital        Divorced  Married  Never married  Separated  Widowed
happy
Not too happy        72       71            108         30       59
Pretty happy        278      684            426         49      137
Very happy           93      582            120         13       83